@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    width: 100vw;
    height:100vh;
}
.container
{ 
    background-color: #1f242d;
    background: url(video.mp4);
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.wrapper
{
    padding-top: 2em;
    margin-top: 5em;
    margin-bottom: 3em;
    background: #456083;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 850px;
    min-height: 400px;
    gap: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px snow;
    transition: .5s;
}

.wrapper:hover {
    border: 3px solid #B8F3FF;
    transform: scale(1.02);
}

h1
{
    font-size: 4rem;
    color: #B8F3FF;
}
h3
{
    color: snow;
}
.form-control
{
    font-size: 2em;
    color: #B8F3FF;
}
.form-control input
{
    height: 2em;
    padding: 1px;
    font-size: 1.5rem;
    background: #94accb;
    font-weight: bold;
    text-align: center;
    color: snow;

    border: none;
}
.form-control button
{
    padding: 0.15em 1.5em;
    background:#B8F3FF;
    font-size: 1.5rem;
    font-weight: bold;
    transition: .5s;
    border-radius: 20px;
}
.form-control button:hover
{
    background: transparent;
    border: none;
    color: #B8F3FF;
    box-shadow: 0 0 5px #B8F3FF;
    transform: scale(1.02) translateY(-1%);
    cursor: pointer;
}   

#weatherInfo
{
    background: #2e4057;
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: space-evenly;
    align-items: baseline;
    transition: .5s;
    padding-bottom: 2em;
}
#weatherInfo h1{
    font-size: 3rem;
    text-decoration: none;
}
#weatherInfo h2{
    color: #B8F3FF;
}


.cityIcon
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1em;
}

img
{
    max-width: 150px;
    max-height: 150px;
}

.tempDesc
{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: .5em;
    color: #94accb;
}

@media (max-width: 875px)
{

    .container
    {
        padding-bottom: 5em !important;
        text-align: center;
    }
    h1{
        font-size: 2.5rem;
    }
    .wrapper{
        min-width: unset;
        width: 90%;
        padding-top: 5%;
    }
    .form-control{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 1.5rem;
        gap: .5em;
    }
    .form-control input, .form-control button{
        max-width: 250px;
    }

    #weatherInfo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 5px 50px 5px;
    }
}
