@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    width: 100vw;
    height:100vh;

    background-image: url(/IE-Portfolio/Projects/JavaScript/Weather-App/media/bgi.jpg);
    
        background-blend-mode:lighten;
        background-size: cover;
        background-position: bottom !important;
        background-repeat: repeat-y !important;

        font-family: 'Poppins', Helvetica, sans-serif;
}
.container
{ 
    position: relative;
    background-color: #eaff000c;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
}


/* Hear Here START START START */
.settings{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 1em;
    gap: .3em;
    width: 40%;
}

button {
    width: 50%;
    padding: 10px 20px;
    align-self: center;
    background-color: lightskyblue;
    font-size: 1.25rem;
    font-weight: 700;
}

.settings select {
    height: 2em;
    font-size: 1rem;
    font-weight: 500;
}

.settings h3
{font-size: 1.5rem;
text-align: center;}

.settings label{
    font-weight: 600;
}
.start-btn:disabled 
{
    cursor: not-allowed;
    background: rgba(255, 0, 0, 0.097);
}

.hide 
{
    display: none;
}

.check
{
    pointer-events: none;
    cursor: not-allowed;
}

.timer{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;

}
.timer .progress{
    position: relative;
    width: 100%;
    height: 2em;
    background-color: transparent;
    border: 2px solid silver;
    border-radius: 25px;
    overflow: hidden;
}

.timer .progress .progress-bar
{
    width: 100%;
    height: 100%;
    border-radius: 25px;

    overflow: hidden;
    background: linear-gradient(to right, #94accb, #B8F3FF);
    transition: 1s linear;
    
}

.timer .progress .progress-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: 500;
}

.questions-wrapper .number{
    font-size: 1.25rem;
    font-weight: 500;
}

.questions-wrapper .number .total {
    font-size: 1.1rem;
}

.questions-wrapper .question{
    color: snow;
    font-size: 1.25rem;
    font-weight: 500;
    
}



.questions-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.answer-wrapper .answer
{
    width: 100%;
    height: 2em;
    padding: .5em;
    border-radius: 10px;
    color:snow;
    border: 2px solid silver;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.3s linear;
    
}

.checked{
    cursor: not-allowed !important;
    pointer-events: none;
}

.answer .checkbox {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.answer .checkbox .icon{
    opacity: 0;
}

.answer:hover .checkbox,
.answer.selected .checkbox
{
    background-color: blue;
    border-color: lightblue;
}

.answer.selected .checkbox .icon
{
    opacity: 1;
}

.answer.correct{
    border-color: greenyellow;
}

.answer.wrong{
    border-color: crimson;
}

.next-btn{
    display: none;
}


.end-screen .score{
    color: snow;
    font-size: 1.25rem;
    font-weight: 500;

    text-align: center;
}

.end-screen .score-text {
    color: snow;
    font-size: 1rem;
}
/* Hear Here END END END END */


.wrapper
{
    padding: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    background: #456083ae;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 850px;
    min-height: 400px;
    gap: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px snow;
    transition: .5s;
}

.wrapper:hover {
    border: 3px solid #B8F3FF;
    transform: scale(1.02);
}




@media (max-width: 875px)
{

    .container
    {
        padding-bottom: 5em !important;
        text-align: center;
    }
    h1{
        font-size: 2.5rem;
    }
    button{
        margin-top: 1em;
        width: 100%;
    }
    .wrapper{
        min-width: unset;
        width: 90%;
        padding-top: 5%;
    }
    .settings {
        width:90%;
    }
}
