.form-container {
    position: relative;
    margin: 3em 0;
    padding-top: 1em;
    height: 200px;
    width: 80%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-box {
    min-width: 30cqw;
    max-height: 30cqh;
    display: flex;
    align-items: center;
    padding: 5em 25px 2em 25px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-sizing: border-box; 
    border-radius: 10px;
    border-bottom: 1px solid var(--accent);
    box-shadow: 0px 0px 5px 1px black;
}

.contact-box form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2em .5em;
    width: 100%;
}

.contact-box .input-box {
    position: relative;
}

.contact-box .input-box input {
    width: 100%;
    padding: 10px 4px;
    font-size: 14px;
    color: goldenrod;
    font-weight: 500;
    border: 1px solid var(--accent);
    outline: none;
    background: transparent !important;
}

#userMessage {
    border: 1px solid var(--accent) !important;
}

.msg-label {
    bottom: 30px;
    left: 10px !important;
}

.contact-box .input-box label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 10px 0;
    font-size: 1em;
    font-weight: 600;
    color: var(--secondary);
    pointer-events: none;
    transition: .5s;
}

.contact-box .input-box input:focus~label {
    top: -28px;
    left: 4px;
    color: var(--secondary);
    font-size: 0.9rem;
}

.input-box input:focus {
    border: 1px solid orange;
}

.contact-box .input-box input:placeholder-shown+label {
    color: var(--secondary);
}
.contact-box .input-box input:not(:placeholder-shown)~label {
    top: -30px;
    right: 0;
    
    font-weight: 600;
    transition: .5s;
}

.input-box input:not(:placeholder-shown) {
    border: 1px solid rgb(255, 72, 0);
}

.input-box:has(input:not(:valid)) .form-btn {
    outline: 3px solid red;
}

.input-box:has(input:not(:valid)) .form-btn {
    pointer-events: none;
}
form:invalid .form-btn {
    border: 1px solid silver;
    opacity: 0.6;
}
form:valid .form-btn {
    width: 200px;
    color: var(--secondary);
    border: 1px solid rgb(54, 233, 54);
    pointer-events: auto;
    background: black;
    opacity: 1;
}

.contact-box .input-box input:valid~label {
    right: 0;
    color: var(--secondary);
    font-size: 0.9rem;
    text-shadow: none;
}

.input-box input:valid {
    border: 1px solid rgb(0, 255, 55);
    background: transparent !important;
}

#message{
    border: 1px solid var(--accent)!important;
}

.input-box input:valid~.form-btn {
    pointer-events: all !important;
}

.contact-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.form-btn {
    grid-column: -1/1;
    margin: 2em 0;
    display: inline-block;
    padding: 5px 0px !important;
    border: 1px solid #E7D8BA;
    border-radius: 6px;
    box-shadow: 0 0 1px var(--secondary);
    font-size: 1rem;
    color: black;
    font-weight: 600;
    min-width: 200px;
    align-self: center;
    justify-self: center;
    text-align: center;
    transition: .5s;
    background: var(--secondary);
}

.form-btn:hover {
    background-color: var(--accent);
    color: black;
    border: 1px solid black;
    box-shadow: 0 0 5px var(--secondary);
    transform: scale(1.1) translateY(-5%) !important;
}

.status{
    font-size: 1.5em !important;
    font-weight: 500 !important;
    text-align: center !important; 
    transform: translateY(-5px);
    text-shadow: 2px 2px 3px black;
    padding: 5px;
}

.status.success{
    color: rgb(0, 255, 255) !important;
}
.status.error{
    color: orangered !important;
}

@media (max-width:980px) {
    #contact-section {
        min-height: unset;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5em;
        padding: 2em .5em 2em;
    }

    .contact-bg {
        background-attachment: scroll;
    }

    #contact-section p {
        font-size: .98rem !important;
        justify-content: center;
        text-align: center;
        margin-top: unset;
        border-radius: 15px;
        height: 20px;
    }

    .form-container {
        width: 85% !important;
        height: 100%;
        margin: 1em 0;
        padding: 2em 0;
    }

    .contact-box {
        max-width: 100%;
        min-height: 100%;
        border-bottom: unset;
    }

    .contact-box .input-box input {
        width: 100% !important;
        margin: 0px 0px 0px 0px;
        font-size: 16px;
    }

    .contact-box form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5em !important;
        row-gap: 1em !important;
    }

    .contact-box .input-box label {
        left: 10px;
    }

    .form-btn {
        min-width: 150px;
        max-width: 150px;
        padding: 5px 0px !important;
        grid-column: span 2;
    }

    #contact-section h2 {
        font-size: 2rem;
    }

    .contact-info {
        width: 100%;
        border-left: unset;
        border-bottom: 1px solid var(--accent);
        padding-right: 2em;
        padding-bottom: 1em;
    }

    .contact-info-item{
        align-items: center;
    }
    .contact-info-item a{
        font-size: 2rem;
    }

    #contact-map {
        display: none;
    }

    .status{
        transform: translateY(15px);
    }
}